NationalParks.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NationalParks">
    <xs:annotation>
      <xs:documentation>This file represents and instances of 6 national parks</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NationalPark" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:long" name="phone"/>
            </xs:element>
            <xs:element name="address">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="xs:short" name="number"/>
                  <xs:element type="xs:string" name="street"/>
                  <xs:element type="xs:string" name="city"/>
			    <xs:element type="xs:string" name="state"/>
                  <xs:element type="xs:int" name="zip"/>
                </xs:sequence>
               </xs:complexType>
              </xs:element type="xs:string" name="NearestAirport" use="required">
            </xs:sequence>
            <xs:attribute type="xs:string" name="rating" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>